:root {
    --brand: #4D5AE5;
    --pressed: #404BBF;
    --main-text: ##434455;
    --main-bg: #fff;
    --subtle-text: #8E8F99;
    --heading: #2E2F42;
    --light-bg: #F4F4FD;
    --accent: #E7E9FC;
    --success: #31D0AA;
    --hero-bg: rgba(46, 47, 66, 0.7);
    --overlay: rgba(46, 47, 66, 0.4);
    --shadow: rgba(0, 0, 0, 0.15)
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', 'Open sans', sans-serif;
    font-size: 16px;
    color: var(--main-text);
    background: var(--main-bg);
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1188px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.hero-button,
.filters-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
}

/* Hidden header pattern */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ------------------------------------ */
/* HEADER */

.header {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Site Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand);
}

.header .logo-studio {
    color: var(--heading);
}

/* Site Navigation */
.nav .link {
    font-weight: 500;
    /* font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading);
}

.nav .link:hover,
.nav .link:focus,
.nav .link.current {
    color: var(--pressed);
}

.address .link {
    /* font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: currentColor;
    /* color: var(--main-text); */

}

.address .link:hover,
.address .link:focus,
.address .link.current {
    color: var(--pressed)
}

/* ------------------------------------ */
/* Main PAGE */
/* Section HERO */

.hero {
    background: var(--heading);
    padding-top: 188px;
    padding-bottom: 188px;
}


/* Hero Title */
.hero-title {
    /* font-weight: 700; */
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-bg);

    margin-bottom: 48px;
}

/* Hero Button */
.hero-button {
    color: var(--main-bg);

    background: var(--brand);
    padding: 16px 32px;
    /* box-shadow: 0px 4px 4px var(--shadow); */
}

.hero-button:hover,
.hero-button:focus,
.hero-button.current {
    background: var(--pressed);
}

/* Sections */
.features,
.directions,
.projects {
    background-color: var(--main-bg);
}

.features {
    padding-top: 188px;
    padding-bottom: 120px;
}

.directions {
    padding-top: 0;
    padding-bottom: 120px;
}

.members {
    background-color: var(--light-bg);
    padding-top: 120px;
    padding-bottom: 120px;
}

.projects {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* Header 2 */
.features-title,
.directions-title,
.members-title,
.filters-title,
.cards-title {
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--heading);
}

.directions-title,
.members-title {
    margin-bottom: 72px;
}

/* Image */
.pic {}


/* Header 3 */
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading);

    margin-bottom: 8px;
}

/* Paragraph */
.text {
    /* font-size: 16px; */
    /* color: var(--main-text); */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.members-item {
    background-color: var(--main-bg);
}

/* ------------------------------------ */
/* Portfolio PAGE */

/* List of Filters Buttons */
.filters-list {
    margin-bottom: 72px;
}

.filters-button {
    color: var(--brand);
    background: var(--light-bg);
    border: 1px solid var(--accent);
}

.filters-button:hover,
.filters-button:focus,
.filters-button.current {
    color: var(--main-bg);
    background: var(--pressed);
}

.directions-item,
.cards-item {
    /* border: 1px solid var(--accent) */
}

.capture {
    height: 120px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cards-capture {
    padding-left: 16px;
}

/* ------------------------------------ */
/* FOOTER */

.footer {
    background-color: var(--heading);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer .logo-studio {
    color: var(--light-bg);
}

.footer-text {
    width: 264px;
    color: var(--accent);
}